//== Faq Section ::::
.moduleFaq {
    background: #FFF8F8;
    padding-bottom: 80px;
    padding-top: 218px;
    position: relative;
    .wave-faq{
        position: absolute;
        top: 0;
        z-index: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .box-cont{
    }

    .title {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .subtitle {
        margin-bottom: 60px;
        font-size: 16px;
    }
    
    .accordion{
        width: 100%;
        max-width: 970px;
        margin: auto;
        .acc-heading{
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 30px;
            padding: 40px;
            border: none;
            display: block;
            transition: all .2s ease-in-out;
            cursor: default;
            .header-acc{
                font-family: $font-regular;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                
                color: $primary-light;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                align-items: center;
            }
            svg{
                transition: all .2s ease-in-out;
            }
            &.active{
                box-shadow: 0px 15px 60px rgba(0, 109, 174, 0.1);
                margin-bottom: 35px;
                svg{
                    transform: rotate(180deg);
                }
            }
            .acc-content{
                .inner{
                    padding: 0;
                    p{
                        margin: 20px 0;
                        color: $secondary-light;
                        cursor: auto;
                        font-family: $font-regular;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                }
            }

        }
    }
    .btn-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            margin-top: 30px;
        }
    }
}
//========== /Faq Section